/* Enter your custom styles here */

.sidePadding {
    padding: 0 0.5rem;
}

.borderX {
    border-right: 1px ridge #d9d9d9;
    border-left: 1px ridge #d9d9d9;
}

.margin2 {
    margin: 0.5rem;
}

.bgAliceblue {
    background: #eff4f9;
}

.cursorPointer {
    cursor: pointer;
}

.padding1 {
    padding: 0.25rem;
}

.paddingTop1 {
    padding-top: 0.25rem;
}

.borderRightRidge {
    border-right: 1px ridge #d9d9d9;
}

.borderRight {
    border-right: 1px ridge #d9d9d9;
}

.mbTag {
    margin-bottom: 0.15rem !important;
}

.warningBGColor {
    background-color: #f9a429 !important;
}

.titleAlignLeft {
    text-align: left !important;
}

.requiredField {
    color: red !important;
}

.navBG {
    background-color: #eff4f9 !important;
}

.genpo .sapUiSizeCompact .sapUiFormEdit .sapMText {
    min-height: 1.5rem !important;
}

.genpo 
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanS12), 
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12), 
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanL12), 
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanXL12) {
    padding-top: 0.3rem !important;
}

.genpo .sapMInputBase {
    margin: 0.1rem !important;
}

.genpo .sapUiFormEdit .sapMText {
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
    min-height: 1.5rem !important;
}

.genpo .sapUiFormResGrid>div {
    padding: 0.5rem !important;
}

.genpo .createPOTitle {
    background-color: bisque !important;
    padding: 0.15rem 0.5rem !important;
    border-radius: 0.5rem !important;
    font-weight: bold !important;
}

.reqField {
    color: red;
}

.hdrFormBgColor {
    background-color: aliceblue !important;
}

/* .anp .sapUiAFLayoutItem {
    flex-basis: auto !important;
    max-width: fit-content !important;
} */

.activeRow {
    background-color: #e1ebf3 !important;
}

.sapMLabelRequired, .sapMLabelRequired::before {
    color: #c75858 !important;
}